$fontfamily: 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', arial, sans-serif;
$primary: #7f74b4;
$secondary: #dedaf4;

$nav_color: #ffffff;
$nav_color_link: #888;
$nav_color_visited: #444555;
$nav_color_hover: #fffff5;
$nav_logo_color: #555555;
$main-color: #4ba46a;
$sec-color: #444444;
$sub-color: #888888;
$af_qa_color: #efefef;

$content_text_color: #888;
$shadow: #333;
$yellow: #e9d87f;
