*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 10px;
}
*,
body {
    box-sizing: border-box;
    font-family: $fontfamily;
    font-weight: 400;
}
#app {
    display: block;
    margin: auto;
    font-family: $fontfamily;
    a {
        text-decoration: none;
        outline: none;
        cursor: pointer;
    }
    button {
        outline: none;
        border: 0;
    }
}
.calendarvite {
    &_btn {
        cursor: pointer;
        margin: 1rem auto;
        color: white;
        padding: 2rem 3rem;
        background-color: $primary;
        border-radius: 0.8rem;
        font-size: 2rem;
        &_container {
            bottom: 0;
            position: fixed;
            width: 100%;
            background-color: white;
            @include flex_center_center;
        }
    }
}
@media screen and(max-width:750px) {
    html {
        font-size: 8px;
    }
}
