.head-2 {
  font-size: 1.6rem;
  color: #262626;
  font-weight: 600;
}
.paragraph {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #666666;
}
.sub-text {
  font-size: 1.2rem;
  color: #a6acbd;
}
